<!DOCTYPE HTML>
<html>
  <head>
    <title>Log In</title>
  </head>
  <body>
    <h2>Log In</h2>
    <br>
    <form method="POST" action="/login">
      <div class="form-group">
        <input type="text" name="username" class="form-control" placeholder="Username" autofocus>
      </div>
      <div class="form-group">
        <input type="password" name="password" class="form-control" placeholder="Password">
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-block btn-primary" value="Log In">
      </div>
    </form>
  </body>
</html>
